<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Лейбл с меняющимися картинками -->
    <div class="image-slider">
    </div>
    <!-- Блок с кнопками -->
    <div class="action-buttons">
        <button onclick="window.location.href='/products'">Товары</button>
        <button onclick="window.location.href='/categories'">Категории</button>
        <button onclick="window.location.href='/deals'">Акции</button>
        <button onclick="window.location.href='/search'">Поиск</button>
        <button onclick="window.location.href='/contacts'">Контакты</button>
    </div>
    <script src="/static/slider.js"></script>
</body>
</html>